.intro {
  text-align: center;
  color: salmon;
}
.intro h2{
  font-family: cursive;
}
.intro p {
  font-style: italic;
}
.intro img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 250px;
}
